.text-end {
  text-align: end;
}

.nav-tabs .nav-link {
  cursor: pointer;
}

.card {
  border: 1px solid #dee2e6;
}

.card-body h3 {
  margin-bottom: 0;
}

.badge {
  font-size: 0.8rem;
}

.spinner-border-sm {
  width: 1rem;
  height: 1rem;
}
